<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.siakad.siakadtk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="app.siakad.siakadtk.presentation.screens.product.ProductListActivity"></activity>
        <activity android:name="app.siakad.siakadtk.presentation.screens.registration.RegistrationActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.register.RegisterActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.order.detail.OrderDetailActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.history.detail.HistoryDetailActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.profile.PasswordActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.profile.ProfileActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.profile.SettingsActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.history.HistoryActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.main.product.basket.BasketActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.main.product.detail.book.ProductBookDetailActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.main.product.detail.book.ProductBookListActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.main.product.detail.uniform.ProductUniformListActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.main.product.detail.uniform.ProductUniformDetailActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.order.OrderListActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.registration.form.RegistrationFormActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.announcement.AnnouncementListActivity" />
        <activity android:name=".presentation.screens.welcome.WelcomeScreenActivity" />
        <activity android:name="app.siakad.siakadtk.presentation.screens.login.LoginActivity" />
        <activity
            android:name=".presentation.screens.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.siakad.siakadtk.presentation.screens.main.MainActivity" />
    </application>

</manifest>